
RewriteEngine On

# Main Navigation
# This will show a number but it will not give away the column name in your table
# To have cleaner URL's is is better to use a framework

RewriteRule ^login$ pages/login/index.php [L]
RewriteRule ^register$ pages/register/index.php [L]
RewriteRule ^blogs$ pages/blog/index.php [L]
RewriteRule ^blogDetails/([0-9]+)$ pages/blog/details.php?blog_id=$1 [L]


# User Navigation
RewriteRule ^u/dashboard$ account/dashboard/user/index.php [L]



#Admin Navigation
RewriteRule ^a/dashboard$ account/dashboard/admin/index.php [L]
RewriteRule ^a/allUsers$ account/dashboard/admin/pages/user.php [L]
RewriteRule ^a/pendingComments$ account/dashboard/admin/pages/pendingComments.php [L]
RewriteRule ^a/commentDetails/([0-9]+)$ account/dashboard/admin/pages/commentDetails.php?cid=$1 [L]
RewriteRule ^a/deleteUser/([0-9]+)$ account/dashboard/admin/components/deletePopup.php?userId=$1 [L]
